<div id='presentation-slide-end' class='presentation-slide default-slide'>
    <h6>The end.</h6>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (e) => {
        const slides = document.querySelectorAll('.presentation-slide:not(.default-slide)');
        let currIdx = 0;

        // hide all slides by default.
        for (const slide of slides) {
            slide.style.display = 'none';
        }

        // disable context menu.
        document.body.oncontextmenu = (e) => {
            e.preventDefault();
            e.stopImmediatePropagation()
            return false;
        }

        // make the current slide visible.
        function draw() {
            slides[currIdx].style.display = 'flex';
        }

        function advance() {
            // make the current slide invisible.
            slides[currIdx].style.display = 'none';
            // advance...
            currIdx += 1;
            // if we're within the slide bounds, draw...
            if (currIdx < slides.length) draw();
            else {
                // ... or show the default ending slide.
                currIdx = slides.length;
                document.querySelector('#presentation-slide-end').style.display = 'flex';
            }
        }

        function prev() {
            // make the current slide invisible.
            slides[currIdx].style.display = 'none';
            // go back...
            currIdx -= 1;
            // if we're within the slide bounds, draw...
            if (currIdx >= 0) draw();
            else {
                // ... or show the default beginning slide.
                currIdx = -1;
                document.querySelector('#presentation-slide-begin').style.display = 'flex';
            }
        }

        window.addEventListener('click', (e) => {
            if (e.button == 0) {
                // on left click, advance
                advance();
            }
            else if (e.button == 2) {
                // on right click, go back
                prev();
            }
        });

        window.addEventListener('keydown', (e) => {
             // self-explanatory
            if (e.key == 'ArrowDown' || 'ArrowRight') {
                advance();
            }
            else if (e.key == 'ArrowUp' || 'ArrowLeft') {
                prev();
            }
        })

        draw();
    })
</script>