body, html, #cyblog-presentation {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.prefab-header, .prefab-footer {
    margin: 0;
    padding: 1rem;
    display: flex;
}

.prefab-footer {
    border-top: 2px solid #999999;
}

.prefab-header {
    border-bottom: 2px solid #999999;
}

.prefab-header > div {
    box-sizing: border-box;
}

.presentation-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    flex-grow: 1;
}

#cyblog-presentation {
    display: flex;
    flex-direction: column;
}

#presentation-slide-begin, #presentation-slide-end {
    display: none;
}

#cyblog-plug-footer {
    display: none;
}