@media only screen and (prefers-color-scheme: dark) {
    body {
        background: #202020;
        color: #f5f4f0;
    }

    pre {
        background: #505050;
    }

    a, a:visited {
        color: #1f6dec;
    }

    span[class^='cyb-meta'] {
        color: #ccc;
    }

    @media not all and (hover: none) {
        a:hover, a:visited:hover {
            filter: brightness(2);
        }
    }
}