body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.prefab-header, .prefab-footer {
    margin: 0;
    padding: 1rem;
    display: flex;
}

.prefab-footer {
    margin-top: auto;
}

.prefab-footer {
    border-top: 2px solid #c1c1c1;
}

.prefab-header {
    border-bottom: 2px solid #c1c1c1;
}

.prefab-header > div {
    box-sizing: border-box;
}

.cyblog-gallery {
    transition-duration: 0.4s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 100%;
    text-align: center;
}

.cyblog-gallery p {
    margin: 0;
	padding: 0;
	border: 0;
    display: inline;
}

.cyblog-gallery img {
    width: 18vw;
    height: 18vw;
    object-fit: cover;
    object-position: center;
    transition-duration: 0.4s;
}

.cyblog-gallery img:first-child {
    margin-top: 1rem;
}

.cyblog-gallery img:last-child {
    margin-bottom: 1rem;
}

#gallery-mask {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    transition-duration: 0.3s;
    z-index: 10000;
}

.gallery-img-desc {
    margin: 1rem;
    color: white;
}

@media screen and (max-aspect-ratio: 1/1) {
    .cyblog-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .cyblog-gallery img {
        width: 43vw;
        height: 30vh;
    }
}

@media screen and (max-aspect-ratio: 7/10) {
    .cyblog-gallery {
        grid-template-columns: 1fr;
    }
    
    .cyblog-gallery img {
        width: 80vw;
        height: 25vh;
    }
}