html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e0e0e0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#workspace {
    height: 100%;
}

.workspace-header-bar {
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: #202020;
    color: white;
    height: 5ch;
}

.workspace-header-bar>.icon {
    color: white;
}

.workspace-separator {
    margin-left: auto;
}

#workspace-title {
    font-weight: bold;
    padding: 0.4rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 0.4rem;
    background-color: #fafafa;
    border: none;
    color: black;
    padding: 0.6rem;
    cursor: pointer;
    margin: 0;
    transition-duration: 0.2s;
}

button:not(.icon):hover {
    filter: brightness(1.2);
}

button.icon {
    padding: 0;
    color: inherit;
    background-color: transparent;
}

#new-post {
    background-color: #007cdf;
    color: white;
}

#publish-site {
    background-color: #1d9200;
    color: white;
}

.work-area {
    height: calc(100% - 5ch - 1rem);
    width: 100%;
    display: flex;
}

.post-list {
    padding: 1rem;
    height: calc(100% - 2rem);
    width: calc(30ch - 2rem);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    gap: 0.6rem;
}

.post-list .post-item {
    width: calc(100% - 1rem);
    color: #303030;
    background-color: #fafafa;
    border-radius: 0.4rem;
    padding: 0.8rem;
    cursor: pointer;
    transition: transform 0.1s;
}

.post-list .post-item:hover {
    transform: scale(1.05);
    color: black;
    background-color: white;
}

.editor {
    width: calc(100% - 30ch);
    height: 100%;
}

button.icon {
    background-color: transparent;
}

#landscape-warning {
    display: none;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
    background-color: white;
}

#landscape-warning p {
    margin: 2rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    #landscape-warning {
        display: flex;
    }
}